@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserat/Montserrat-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/montserat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}